USE [master]
GO
/****** Object:  Database [quanlydongho]    Script Date: 1/3/2025 4:50:12 PM ******/
CREATE DATABASE [quanlydongho]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlydongho', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.ANHQUANG03\MSSQL\DATA\quanlydongho.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlydongho_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.ANHQUANG03\MSSQL\DATA\quanlydongho_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlydongho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlydongho]
GO
/****** Object:  User [anhquang03]    Script Date: 1/3/2025 4:50:12 PM ******/
CREATE USER [anhquang03] FOR LOGIN [anhquang03] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 1/3/2025 4:50:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[Mã_SP] [nvarchar](50) NOT NULL,
	[Tên_SP] [nvarchar](50) NOT NULL,
	[Giá_Tiền] [int] NOT NULL,
	[Số_lượng] [tinyint] NOT NULL,
	[Mô_tả_SP] [nvarchar](50) NULL,
	[Trạng_thái] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sanpham] PRIMARY KEY CLUSTERED 
(
	[Mã_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
